@font-face {
    font-family: 'HappyText';
    src: url(fonts/beachday.regular.ttf) format('truetype');
}

.appWrapper {
    display: grid;
    grid-template-rows: 1fr 4fr;
    border: solid black 1px;
    height: 100vh;
}

.gameTitleDetails,
.gameContainer {
    border: solid red 1px;
}

.gameContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.gameTitleDetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'HappyText';
}

.gameTitleContainer {
    width: 600px;
    height: 100px;
    border: blue solid 1px;
    text-align: center;
    font-size: 20px;
}

.leftPlayerInformation,
.gameBoardContainer,
.rightPlayerInformation {
    border: solid blue 1px;
}

.gameBoardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;    
}

.gameSquare {
    border: solid green 1px;
}