.appWrapper {
    display: grid;
    grid-template-rows: 1fr 4fr;
    border: solid black 1px;
    height: 100vh;
}

.gameTitleDetails,
.gameContainer {
    border: solid red 1px;
}

.gameContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.leftPlayerInformation,
.gameBoardContainer,
.rightPlayerInformation {
    border: solid blue 1px;
}