* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: 'HappyText';
    src: url(fonts/beachday.regular.ttf) format('truetype');
}

.appWrapper {
    display: grid;
    grid-template-rows: 1fr 4fr;
    border: solid black 1px;
    height: 100vh;
}

.startGameButton,
.resetGameButton {
    margin-top: 15px;
    cursor: pointer;
}

.gameContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.gameTitleDetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameTitleContainer {
    width: 600px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    padding: 20px 0 0 0;
}

.title {
    font-family: 'HappyText';
    line-height: 30px;
    margin-bottom: 20px;
}

.subtitle {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: small;
}

.gameSquare {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gameBoardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.leftPlayerInformation,
.rightPlayerInformation {
    text-align: center;
}

.playerName {
    align-self: flex-start;
    margin-top: 30vh;
}

.playerScore {
    margin-top: 20px;
}

.icon {
    font-family: 'HappyText';
    font-size: 100px;
}

.hidden {
    display: none;
}